.skeleton {

display:inline-block;

background:linear-gradient(
90deg,
rgba(255,255,255,.06) 25%,
rgba(255,255,255,.14) 37%,
rgba(255,255,255,.06) 63%
);

background-size:400% 100%;

animation:shimmer 1.6s ease-in-out infinite;

}

@keyframes shimmer {

0%{background-position:100% 50%;}

100%{background-position:0 50%;}

}
